body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color:tan;  
  color: #333;
  margin: 0;
}
.contact {
  margin: 0 auto;
  max-width: 600px;
  padding: 1em;
}

.row{
    margin:50px;
}

ul {
  list-style:none;
  margin: 0;
  margin-bottom:20%;
  padding: 0;
}